<div class="row mt-5">
    <div class="col-md-12 m-auto">
        <div class="card card-body text-center">
            <%- include ("./messages") %>
            <button onclick="backe()" class="btn btn-primary btn-block">Play Again</button>
        </div>
    </div>
</div>
<script>
    function backe() {
        window.history.back()
    }
</script>