<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1 class="mb-3">Edit Profile</h1>
            <a href="/editt/:id" class="btn btn-primary btn-block">Change Username</a>
            <a href="/change/:id" class="btn btn-secondary btn-block mb-2">Change Password</a>
        </div>
    </div>
</div>